body {
    background-color: black;
    color: white;
}

@font-face {
    font-family: 'Aurebesh';
    src: url('/static/fonts/Aurebesh.ttf');
}

body {
    font-family: 'Aurebesh', 'Garamond', 'Arial';
}

#glyph-toggle {
    font-family: 'Jaro', 'Courier New', Courier, monospace;
    color: black;
}

#glyph-toggle > div {
    padding: 4px;
}

#glyph-toggle > div:hover {
    opacity: 0.5;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    padding: 16px;
}

#task-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#logo {
    margin-bottom: 16px;
    width: 60%;
    min-width: 50px;
    max-width: 100px;
}

.task {
    border: 4px solid white;
    margin: 4px;
    width: min(200px, 20%);
    min-width: 100px;
    aspect-ratio: 1;
    background-color: rgb(200, 0, 0);
    color: black;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 36pt;
    overflow: auto;
}

.wrong {
    background-color: rgba(200, 0, 0, 0.7);
}

.correct {
    background-color: forestgreen;
}

.completed {
    background-color: rgb(41, 105, 255);
    color: white;
}

#glyph-translation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.245);
    margin-bottom: 16px;
}

#glyph-translation-container > div {
    margin: 8px;
}

#glyph-info, #glyph-toggle, .glyph-wrapper {
    min-width: 200px;
    max-width: 450px;
}

#glyph-keyboard {
    display: flex;
    flex-direction: column;
}

#glyph-progress {
    margin: 4px 8px;
}

.glyph-wrapper, #glyph-toggle {
    border: 4px solid white;
}

.glyph-wrapper > img {
    width: 20%;
    aspect-ratio: 1;
    border: 2px solid rgba(255, 255, 255, 0.172);
    margin: 4px;
}

#back-button {
    background-color: transparent;
    border: 4px solid white;
    padding: 4px 8px;
}

#back-button a {
    color: white;
}

a {
    text-decoration: none;
}

#glyph-progress, .glyph-wrapper, #glyph-toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

#glyph-toggle div {
    color: black;
    text-align: center;
}

#glyph-toggle div.selected {
    border-radius: 4px;
    border: 2px solid black;
}

.glyph-box {
    width: 15%;
    height: 40px;
    background-color: transparent;
    border-bottom: 4px solid white;
    transition: 200ms ease-in-out all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glyph-box img {
    width: 100%;
}

.glyph-wrapper img:hover {
    background-color: rgba(255, 255, 255, 0.467);
}

.hidden {
    display: none;
}

#glyph-info > img {
    width: 100%;
}

#glyph-toggle {
    background-color: white;
    text-transform: uppercase;
    justify-content: space-around;
}

#back-button, #killswitch {
    font-family: 'Jaro', 'Courier New', Courier, monospace;
    font-size: 18pt;
}

#activate-text {
    padding: 8px;
    border: 4px solid white;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#killswitch {
    padding: 8px;
    border: 4px solid darkred;
    background-color: transparent;
    transition: 250ms ease-in-out all;
    color: darkred;
}

#killswitch:hover {
    background-color: darkred;
    color: black;
    cursor: pointer;
}