<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Mandalorian - Ditch Day 2024 | Code {{ code_id }}</title>

        <link rel="stylesheet" href= "{{ url_for('static',filename='css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
        <script defer src="{{ url_for('static',filename='js/utils.js') }}"></script>
        <script defer src="{{ url_for('static',filename='js/main.js') }}"></script>
    </head>
    <body>
      <main value="{{code_id}}">
        <img id="logo" src="{{ url_for('static', filename='img/empire.svg')}}">
        <section id="glyph-translation-container">
            <div id="glyph-info">
                <img src="https://helios-i.mashable.com/imagery/articles/01pkPQvUb6TvGYptPMBKR4x/hero-image.fill.size_1200x900.v1681906803.jpg">
                <section id="glyph-progress">
                {% for glyph in code_solution %}
                    <div class="glyph-box"></div>
                {% endfor %}
                </section>
            </div>
            <div id="glyph-keyboard">
                <section id="glyph-toggle">
                    <div value="places">Places</div>
                    <div value="nouns">Nouns</div>
                    <div value="verbs">Verbs</div>
                    <div value="people">People</div>
                    <div value="adjectives">Adjectives</div>
                </section>
                <section class="glyph-wrapper" id="glyph-places">
                    {% for img in imgs['places'] %}
                        <img src={{ '/static/img/glyphs/places/' + img }} alt="{{ img | replace(".png", "")}}">
                    {% endfor %}
                </section>
                <section class="glyph-wrapper hidden" id="glyph-nouns">
                    {% for img in imgs['nouns'] %}
                        <img src={{ '/static/img/glyphs/nouns/' + img }} alt="{{ img | replace(".png", "")}}">
                    {% endfor %}
                </section>
                <section class="glyph-wrapper hidden" id="glyph-people">
                    {% for img in imgs['people'] %}
                        <img src={{ '/static/img/glyphs/people/' + img }} alt="{{ img | replace(".png", "")}}">
                    {% endfor %}
                </section>
                <section class="glyph-wrapper hidden" id="glyph-adjectives">
                    {% for img in imgs['adjectives'] %}
                        <img src={{ '/static/img/glyphs/adjectives/' + img }} alt="{{ img | replace(".png", "")}}">
                    {% endfor %}
                </section>
                <section class="glyph-wrapper hidden" id="glyph-verbs">
                    {% for img in imgs['verbs'] %}
                        <img src={{ '/static/img/glyphs/verbs/' + img }} alt="{{ img | replace(".png", "")}}">
                    {% endfor %}
                </section>
            </div>
        </section>
        <button id="back-button"><a href="/">← Go Back</a></button>
      </main>
    </body>

</html>