<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Mandalorian - Ditch Day 2024 | Code {{ code_id }}</title>

        <link rel="stylesheet" href= "{{base_url}}/static/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
        <script defer src="{{base_url}}/static/js/utils.js"></script>
        <script defer src="{{base_url}}/static/js/main.js""></script>
    </head>
    <body>
      <main value="{{code_id}}">
        <img id="logo" src="{{base_url}}/static/img/empire.svg">
        <section id="glyph-translation-container">
            <div id="glyph-info">
                <img src="{{code_hint}}">
                <section id="glyph-progress">
                {% for glyph in code_solution %}
                    <div class="glyph-box">
                        {% if solved %}
                            {% for type, glyphs in categories.items() %}
                                {% if glyph in glyphs %}
                                    <img src="{{base_url}}/static/img/glyphs/{{type}}/{{glyph}}.png" alt="{{glyph}}">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                </section>
            </div>
            <div id="glyph-keyboard">
                <section id="glyph-toggle">
                    <div value="places">Places</div>
                    <div value="nouns">Nouns</div>
                    <div value="verbs">Verbs</div>
                    <div value="people">People</div>
                    <div value="adjectives">Adjectives</div>
                </section>
                {% for type, glyphs in categories.items() %}
                    <section class="glyph-wrapper {% if type != 'places' %} hidden {% endif %}" id="glyph-{{type}}">
                        {% for img in glyphs %}
                            <img src="{{base_url}}/static/img/glyphs/{{type}}/{{img}}.png" alt="{{ img | replace(".png", "")}}">
                        {% endfor %}
                    </section>
                {% endfor %}
            </div>
        </section>
        <button id="back-button"><a href="{{base_url}}">← Go Back</a></button>
      </main>
    </body>

</html>