<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Mandalorian - Ditch Day 2024 | Home</title>

        <link rel="stylesheet" href= "{{base_url}}/static/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    </head>
    <body>
      <main>
        <img id="logo" src="{{base_url}}/static/img/empire.svg"">
        <div id="task-wrapper">
            {% for puzzle in puzzles %}
            <a class="task {{'completed' if puzzle['solved']}}" href="{{base_url}}/code/{{ puzzle['puzzle_id'] }}">
                {{ puzzle['puzzle_id'] }}
            </a>
            {% endfor %}
        </div>
      </main>
    </body>

</html>